@use "variables" as *;

.stroke-primary {
    stroke: $color-brand;
}

.logo-img {
    width: 220px;
    height: auto;
}

.flex-center {
  display: flex;
  align-items: center;
}

.gap-2 {
    gap: 8px;
}

.gap-4 {
    gap: 16px;
}
